body { background: #8b2a29; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 33px; display: flex; }
.block-router-0 { color: #18a831; font-size: 17px; margin-bottom: 5px; }
.block-filter-1 { color: #4cc89a; font-size: 18px; margin-bottom: 5px; }
.block-uploader-2 { color: #395048; font-size: 18px; margin-bottom: 5px; }
.block-helper-3 { color: #55b2b0; font-size: 17px; margin-bottom: 5px; }
.block-order-4 { color: #88643b; font-size: 21px; margin-bottom: 5px; }